<&| /_elements/wrapper, title => "Basic tests" &>

Testing.

<pre id="test">

<script type="text/javascript">

var t = new Test.Builder();
t.plan({ tests: 3 });

Asynapse.File.setConfig({
    model: "http://localhost:8888/=/model/File"
});

// Object method.
var f1 = new Asynapse.File;
t.ok( f1.exists("nonexists") == false, "Non existing file does not eixsts");

var f2 = new Asynapse.File;
t.ok( f2.exists("hello.txt") == true, "Existing file does eixsts");

var f3 = new Asynapse.File;
f3.open("hello.txt");
var f3_content = f3.slurp();
t.ok( f3_content == "Hello World", "correctly read hello.txt's content.");

</script>
</pre>
</&>

