<&| /_elements/wrapper, title => "print tests" &>

Testing.

<pre id="test"></pre>

<script type="text/javascript">

var t = new Test.Builder();
t.plan({ tests: 4 });

Asynapse.File.setConfig({
    model: "http://localhost:8888/=/model/File"
});

var f1 = new Asynapse.File;
f1.open("hello.txt", "<");
var f1_content = f1.slurp();
t.ok( f1_content == "Hello World", "correctly read hello.txt's content.");
f1.close();

f1 = new Asynapse.File;
f1.open("hello.txt", ">");
f1.print("Hello Borges");
f1_content = f1.slurp();
t.isEq( f1_content, "Hello Borges", "print is functional.");

f1.println(", Luke");
f1_content = f1.slurp();
t.isEq( f1_content, "Hello Borges, Luke\n", "println is functional.");

f1.seek(0);
f1.println("Luke, I am your father");
f1_content = f1.slurp();
t.isEq( f1_content, "Luke, I am your father\n", "println is functional after seek to the head.");


</script>

</&>

